<!DOCTYPE html>
<html>
    <head>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="edit-profile.css" rel="stylesheet">
    </head>
    <body>         
        <div class="edit-profile-page">
            <div class="form">
              <form class="edit-profile-form" action="/submiteditprofile" method="GET">
                <input id="email" type="text" placeholder="Email" name="email"/>
                <input id="username" type="text" placeholder="Username" name="username"/>
                <input id="first" type="text" placeholder="First Name" name="firstname"/>
                <input id="last" type="text" placeholder="Last Name" name="lastname"/>
                <input type="text" placeholder="Phone" name="phone"/>
                <input type="text" placeholder="Street/State/Zip"name="address"/>
                <input type="text" placeholder="Short Bio" name="bio">
                <button type="submit">Update Profile</button>
              </form>
            </div>
          </div>
    </body>
</html>

