<!DOCTYPE html>
<html>
    <head>
        <title> InstaPrints </title>
        <link href="home.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src = "home.js" defer> </script>
    <header>
        
    </header>
    <body>
        <div class="nav-bar-container">
            <div class ="home-button" ><a href="#"><i class="fa fa-home"></i></a> <span id = "home"> </span> 
                <div class="logo">
                    INSTAPRINTS
                </div>
            </div>
            


            
            <!-- <div class = "right-side">
                
                Welcome, User!   
                <div href="" class ="profile-dropdown">
                    <img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-icon-image">
                    <i class="arrow down"></i>
                    <div class="dropdown-content">
                        <a href="#">My Profile</a>
                        <a href="#">Log Out</a>
                    </div>
                </div>
            </div> -->
            <div class = "right-side-buttons">
                <a href="login">Log In</a>
                <a href="signup">Sign Up</a>   
            </div>  
        </div>
        <div class = "main-text">
            Explore Art, Sell and Order Prints
        </div>   
        <div class="nav-container">
            <div class="scrollmenu">
                <a href="#nature">Nature</a>
                <a href="#sports">Sports</a>
                <a href="#Art">Art</a>
                <a href="#life">Life</a>
                <a href="#nature">Nature</a>
                <a href="#sports">Sports</a>
                <a href="#Art">Art</a>
                <a href="#life">Life</a>
              </div>
        </div>

        <div class = "gallery-container">
            <div class="gallery">
                <div class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/d2/4a/f3/d24af374454937ec7f2b1b71b1bc7de9.jpg" class = "gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <a href="#profile1">
                                <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                                <li class="profile-name"><a class="gallery-item-text" href="google.com">@username</a></li>
                            </a>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1540408055539-b4dd7d0da12e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div> 
                <div class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/95/fc/87/95fc873d68d1e8b491a8ff43e723c599.jpg" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.template.net/wp-content/uploads/2016/03/22111738/Eye-Drawing1.jpg" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1573676046967-cb39d1cefe35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1655&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/d2/4a/f3/d24af374454937ec7f2b1b71b1bc7de9.jpg" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div> 
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1540408055539-b4dd7d0da12e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1573676046967-cb39d1cefe35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1655&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>

                <div class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/d2/4a/f3/d24af374454937ec7f2b1b71b1bc7de9.jpg" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div> 
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1540408055539-b4dd7d0da12e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1573676046967-cb39d1cefe35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1655&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/d2/4a/f3/d24af374454937ec7f2b1b71b1bc7de9.jpg" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div> 
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1540408055539-b4dd7d0da12e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="profile-picture"><img src = "https://media-exp1.licdn.com/dms/image/C4D03AQE9JXqXw3MH7g/profile-displayphoto-shrink_800_800/0/1586551660880?e=1622073600&v=beta&t=fleY7nDg31ngyQXM0JSkXYCarXcCx8V9oQXTdTDDJrk" class = "profile-image"></li>
                            <li class="profile-name"><a  class="gallery-item-text" href="google.com">@username</a></li>
                        </ul>
				    </div>
                </div>  
            </div>
            <!-- End of Gallary-->

        </div>
        <!-- End of Container-->
    </body>








</html>
