<!DOCTYPE html>
<html>
    <head>
        <link href="profile.css" rel="stylesheet">
        <title> InstaPrints </title>
    </head> 

    <main>
        <!-- <header>
            InstaPrints
        </header> -->
        <div class="container">
            <div class="info">
                <div class = "col">
                    <img class="col" id ="profpic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Golden_Retriever_Carlos_%2810581910556%29.jpg/1024px-Golden_Retriever_Carlos_%2810581910556%29.jpg" alt="profile pic">
                </div>

                <div class = "col">
                    <h2 class="displayinfo">Nick Frost</h2>
                    <p class = "displayinfo">Boston, MA</p>
                    <p class = "displayinfo">Bio</p>
                    <p class = "displayinfo">#mountainfalls #hiking</p>
                </div>

                <div class = "col">
                    <button class="button" onclick= "href='#'">Contact</button><br><br>
                    <button class="button" onclick= "href='#'">Edit Profile</button>
                </div>
            </div>
        </div>
        <div class = "container">
            <div class="gallery">
                <figure class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/95/fc/87/95fc873d68d1e8b491a8ff43e723c599.jpg" class = "gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist </figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://i.pinimg.com/originals/d2/4a/f3/d24af374454937ec7f2b1b71b1bc7de9.jpg" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure> 
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1540408055539-b4dd7d0da12e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1573676046967-cb39d1cefe35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1655&q=80" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <figure class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">
                    <figcaption class = "caption"> Amazing art by a spectacular artist</figcaption>
                    <figcaption class = "profile"> <a href="google.com">username</a></figcaption>
                    <figcaption class = "price">$23.99</figcaption>
                </figure>
                <!-- <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div>
                <div class = "gallery-item">
                    <img src = "https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image">

                </div> -->
            </div>
            <!-- End of Gallary-->

        </div>
        <!-- End of Container-->
    </main>








</html>
