<!DOCTYPE html>
<html>
    <head>
      <title>
        Sign Up
      </title>
        <meta charset="UTF-8">
        <link href="signup.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="signup-page">
            <div class="form">
              <form class="signup-form" action="submitsignup" method="POST">
                <input id="email" type="text" placeholder="email" name = "email"/>
                <input id="username" type="text" placeholder="username" name = "username"/>
                <input id="password" type="password" placeholder="password" name = "password"/>
                <input id="re-password" type="password" placeholder="re-enter password" name = "reenteredPassword"/>
                <button type="submit">sign up</button>
                <p class="message">already have an account? <a href="login">Go to Login</a></p>
              </form>
            </div>
          </div>
    </body>
</html>